body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}

span{
    text-decoration: underline;
}

h1{
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    line-height: 2;
}

h2{
    font-weight: normal;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px;
}

a:hover{
    color: #EAF6F6;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 4%;
    padding-top: 100px;
}

p{
    line-height: 2;
}

.top-container{ 
    position: relative;
    padding-top: 100px;
}

.middle-container{
    padding: 100px 0;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    top: 300px;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
    margin-top: 50px;
}


.intro{
    width: 30%;
    margin: auto;
}

.images{
    width: 10%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.play-images{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.type-images{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact{
    width: 40%;
    margin: 40px auto 60px;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
      
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container{
    height: 60px;
    background-color: #66bfbf;
    padding: 20px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}
